body {
    background-color: #1e1e2e;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* HM stands for HitAndMiss, SP stands for Ship Placement */

#GridAndNumWindow {
    position: absolute;
    display: grid;
    grid-template-rows: 50px 500px 50px;
    grid-template-columns: 50px 500px 50px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 600px;
    height: 600px;
}

#GridWindow {
    /* position: absolute; */
    grid-column: 2;
    grid-row: 2;
    height: 500px;
    width: 500px;
    background-color: #181825;
    border-radius: 20px;
    
}

#HMGridContainer {
    height: inherit;
    width: inherit;
    display: none;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
}

#SPGridContainer {
    height: inherit;
    width: inherit;
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
}

#guideContainer {
    visibility: hidden;
    position: absolute;
    z-index: 10;

    height: 450px;
    width: 350px;
    
    
    background-color: #6c7086;
    color: #cdd6f4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;

    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

#guideContainer > * {
    padding: 0px 15px;
}

#closeButton {
    padding: 5px !important;
    position: absolute;
    top: 5px;
    right: 5px;
    
    font-weight: 1000;

    background: none;
	color: inherit;
	border: none;
	cursor: pointer;
	outline: inherit;
}



.HMChild, .SPChild {
    /* width: 50px;
    height: 50px; */
    border: 1px solid #585b70;
}



.HMChild > p {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    color: #cdd6f4;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    user-select: none;
}

.leftClicked > p {
    color: #f38ba8 !important;
}

.leftClickedSP > div {
    user-select: none;
    vertical-align: middle;
    background-color: #f38ba8 !important;
    line-height: 100%;
}

.rightClicked > p {
    color: #a6e3a1 !important;
}

.rightClickedSP > div {
    color: #11111b !important;
}

#toastBar {
    grid-row: 3;
    grid-column: 2;
    text-align: center;
    color: #cdd6f4;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

#numberRow {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: 50px;
    grid-row: 1;
    grid-column: 2;
}



/* For proliferated guides, prefrence thing but I don't like it */
/* 
#numberRow > div {
    border-left: 1px dashed#585b70;
}

#numberRow > div:first-child {
    border-left: none;
} */

#numberRow > div > p {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    color: #cdd6f4;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


#letterRow {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: 50px;
    grid-row: 2;
    grid-column: 1;
}

#letterRow > div > p {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    color: #cdd6f4;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#buttonsRow {
    position: absolute;
    display: grid;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: 50px;
    grid-row: 2;
    grid-column: 3;
}

#buttonsRow > div > button {
    display: inline-block;
    position: relative;
    padding: 0;
    margin: 0;
    color: #cdd6f4;
    border-radius: 10px;
    
    background-color: #45475a;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 75%;
    width: 75%;
    overflow: hidden;
    font-size: 60%;
}


.startHidden {
    visibility: hidden;
}


/* These buttons are hidden all the time for grid layout */
.hiddenButton {
    visibility: hidden;
}


.SPChild > div {
    text-align: center;
}


.shipUnknown > div {
    left: 50%;
    top: 50%;
    transform: translateX(50%) translateY(50%);
    background-color: #89b4fa;
    width: 50%;
    height: 50%;
    border-radius: 10px;
}
.shipUpNS > div {
    left: 50%;
    top: 50%;
    transform: translateX(50%) translateY(100%);
    height: 50%;
    width: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #89b4fa;
}
.shipMidNS > div {
    left: 50%;
    /* top: 50%; */
    transform: translateX(50%);
    height: 100%;
    width: 50%;
    background-color: #89b4fa;
}

.shipDownNS > div {
    left: 50%;
    transform: translateX(50%);
    height: 50%;
    width: 50%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #89b4fa;
}

.shipLeftEW > div {
    left: 50%;
    top: 50%;
    transform: translateY(50%) translateX(100%);
    height: 50%;
    width: 50%;
    background-color: #89b4fa;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;


    /* top: 50%;
    transform: translateY(50%);
    height: 50%;
    width: 50%;
    background-color: #89b4fa; */
}
.shipMidEW > div {
    /* left: 50%; */
    top: 50%;
    transform: translateY(50%);
    height: 50%;
    width: 100%;
    background-color: #89b4fa;
}

.shipRightEW > div {
    left: 50%;
    top: 50%;
    transform: translateY(50%) translateX(0%);
    height: 50%;
    width: 50%;
    background-color: #89b4fa;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.topLeft {
    border-top-left-radius: 20px;
}

.topRight {
    border-top-right-radius: 20px;
}

.bottomLeft {
    border-bottom-left-radius: 20px;
}

.bottomRight {
    
    border-bottom-right-radius: 20px;
}

.leftEdge {
    border-left: 2px solid #585b70;
}

.rightEdge {
    border-right: 2px solid #585b70;
}

.topEdge {
    border-top: 2px solid #585b70;
}

.bottomEdge {
    border-bottom: 2px solid #585b70;
}